{{!< default}}
{{#get "tags" limit="all" filter="visibility:public" include="count.posts" order="count.posts desc" as |tags_top|}}
{{#if tags_top}}
<div class="loop-wrap">
	{{#foreach tags to="4"}}
	<div class="custom-element top loop-item global-box-shadow{{#if feature_image}} is-image{{/if}}">
		<div class="loop-item-wrap">
			<div class="loop-item-elements">
				<a href="{{url}}" class="global-link" aria-label="{{name}}"></a>
				{{#if feature_image}}
				<div class="custom-element-image loop-item-image global-image">
					{{>images/tag_feature_img}}
				</div>
				{{/if}}
			</div>
			<div class="custom-element-content top loop-item-content">
				<div class="custom-element-title-wrap">
					<h2 class="loop-item-title global-title">
					<a href="{{url}}" class="global-underline">{{name}}</a>
					</h2>
				</div>
				<div class="custom-element-counter top">
					<span>{{count.posts}}</span>
				</div>
			</div>
		</div>
	</div>
	{{/foreach}}
</div>
{{/if}}
{{#foreach tags from="5"}}
{{#if @first}}
<div class="global-heading">
	<h3>{{t "You might also like"}}</h3>
</div>
<div class="special-section">
	<div class="special-section-content">
		{{/if}}
		<a href="{{url}}" class="custom-element bottom">
			<div class="custom-element-content bottom">
				<h2>{{name}}</h2>
				<div class="custom-element-counter bottom">
					<span>{{count.posts}}</span>
				</div>
			</div>
		</a>
		{{#if @last}}
	</div>
</div>
{{/if}}
{{/foreach}}
{{/get}}